p{
    color: #000000;
    font-weight: bold;
    font-size:50px;
}
h1{
    color:brown;       
}

h2{
    color:chocolate;
}
a:hover{
    color:yellow
}
a:link{
    color:black
}
a:visited{
    color:green
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border:solid;
}
.item{
    margin:20px;
    border:solid;
    padding: 10px;
}